<div class="container mt-4">
    <div class="d-flex justify-content-center align-items-center">
      <img class="backbtn" src="assets/banks/back.png" alt="">
      <h6>Select one or more Banks</h6>
    </div>
    <div class=" p-3 d-flex flex-column  align-items-center">
     <div class="noitem">
      <input  type="text" (input)="search()" [(ngModel)]="searchTerm" class="border-8 cstm-inp form-control" placeholder="Search by bank name">
      
      <!-- <p *ngIf="selectedBanks.length>0">Selected Items:</p> -->
      <p class="mt-2 nobank" *ngIf="selectedBanks.length == 0">No Bank Selected:</p>
     </div>
      <div *ngIf="selectedBanks.length > 0">
        <ul class="custm-pad ">
          <li class="mr-2" *ngFor="let selectedBank of selectedBanks">
            <div class="selectedBtn">
              <img class="selectedImg" width="20" src="{{selectedBank.imgPath}}" alt="img">
              <button (click)="onRemoveButtonClick(selectedBank)" type="button" class="close selectedClose"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </li>
        </ul>
      </div>
    
      <div style="margin-top: -8px;">
        <ul class="p-0">
          <li class=" listdata" *ngFor="let bank of filteredBanks">
            <div class="d-flex justify-content-between">
             <div class="d-flex">
              <img class="mr-3" width="20"  src="{{bank.imgPath}}" alt="img">
              <label class="m-0" for="{{bank.id}}">{{ bank.bankName }}</label>
             </div>
              <div class="d-flex ml-2 ">
                <input class="" type="checkbox"  [(ngModel)]="bank.status" id="{{bank.id}}" name="{{bank.id}}"
                (change)="onCheckboxChange(bank)">
  
              </div>
            </div>
            <hr>
          </li>
        </ul>
      </div>
  
      <button [disabled]="!(selectedBanks.length>0)" class="btn btn-primary" routerLink="/linkbanks"
        (click)="onProceed()">Proceed</button>
    </div>
  </div>
  