<div class="container mt-4">
    <div class="d-flex  flex-column  align-items-center justify-content-center">
  
      <div class="d-flex mb-3">
        <button class="backbtn" routerLink="/selectbanks">
          <img width="20" src="assets/banks/back.png" alt="">
        </button>
        <span class="lnk">Link Bank Accounts</span>
      </div>
      <ul class="p-0">
        <li class=" listdata" *ngFor="let selectedBank of selectedBanks">
          <div class="d-flex justify-content-between">
           <div class="d-flex">
            <img class="mr-3" width="20"  src="{{selectedBank.imgPath}}" alt="img">
            <label class="m-0" for="{{selectedBank.id}}">{{ selectedBank.bankName }}</label>
            
          </div>
          <div class="d-flex ml-2 ">
            <!-- <input type="checkbox"  [(ngModel)]="selectedBank.status" id="{{selectedBank.id}}" name="{{selectedBank.id}}"
            (change)="onCheckboxChange(selectedBank)" 
           > -->
           <button (click)="onCheckboxChange(selectedBank)" class="closebtn">x</button>
            
          </div>
        </div>
        <p class="text-success m-0 link">Linked Account</p>
          <hr>
        </li>
      </ul>
      
      <button *ngIf="selectedBanks.length > 0" type="button" class="btn btn-primary" data-toggle="modal"
        data-target=".bd-example-modal-sm" (click)="onOpenPopUp()">Get OTP</button>
  
  
  
      <!--  otp modal -->
      <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content p-4">
            <h5> OTP sent to xxxxxx378</h5>
            <input type="text" placeholder="enter otp">
            <p>Didn't receive OTP?</p>
            <a class="close" data-dismiss="modal" aria-label="Close" href="javascript:void(0)"
              class="btn btn-primary">Verify</a>
          </div>
        </div>
      </div>
      <!--  otp modal ends-->
    </div>
  </div>